.admin-draggable-cols-wrapper {
    position: fixed;
    display: flex;
    top: 50%;
    right: 0;
    height: 100%;
    width: 45%;
    z-index: 9;
    align-items: center;
    justify-content: flex-end;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    overflow: hidden;
    transform: translate(96%, -50%);
    @include transition(.4s ease-in transform);

    &.active {
        transform: translate(0, -50%);
    }

    & .admin-box {
        margin-bottom: 0;
        width: 100%;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        padding-left: 3.5rem;

        &__toggle {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            color: #fff;
            width: 4%;
            display: flex;
            background-color: #4a4a4a;
            cursor: pointer;
            justify-content: center;
            align-items: center;
        }
    }
}

.ui-draggable {
    z-index: 9999;
}

.admin-dragged-col {
    width: auto;

    & > div {
        display: inline-flex;
    }
}

.admin-draggable-cols {    
    & > div > div {
        display: flex;
        width: 100%;
    }

    & .admin-grid-col {
        cursor: move;

        & > div {
            text-align: center;
        }
    }
}

.admin-grid-section {
    width: 100%;
    background-color: #eee;
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    min-height: 18rem;
    margin-bottom: 3rem;

    &__action {
        display: inline-flex;
        flex-direction: column;
        flex: 0 0 7%;
        max-width: 5rem;
        justify-content: center;
        align-items: center;
        padding: 1rem 0;
        background-color: #45AA0F;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        height: 100%;

        & button {
            display: inline-flex;
            background-color: transparent;
            border: none;
            justify-content: center;
            align-items: center;

            & i {
                font-size: 2rem;
                opacity: .6;
                @include transition(.2s ease-in all);
            }

            &:hover i {
                opacity: 1;
            }

            &:first-child {
                margin-bottom: 1rem;
            }

            &:last-child {
                margin-top: auto;
            }
        }
    }
}

.admin-grid-rows-wrapper {
    flex: 0 0 93%;
    display: flex;
    flex-direction: column;
    align-items: center;

    & .admin-grid-rows {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}

.admin-grid__add-row {
    align-items: center;
    display: inline-flex;
    margin-left: 2rem;
    margin-right: auto;
}

.admin-grid__add-row, .admin-grid__add-section {
    cursor: pointer;
    padding: 1rem 0;

    & i {
        padding-right: 0.5rem;
    }
}

.admin-grid-row {
    display: flex;
    height: 75%;
    background-color: #fff;
    border-radius: 3px;
    flex-direction: row;
    width: 94%;
    min-height: 13rem;
    margin: 1rem;
    
    &__action {
        display: inline-flex;
        flex-direction: column;
        flex: 0 0 7%;
        max-width: 5rem;
        justify-content: center;
        align-items: center;
        padding: 1rem 0;
        background-color: $secondary-color;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;

        & button {
            display: inline-flex;
            background-color: transparent;
            border: none;
            justify-content: center;
            align-items: center;

            & i {
                font-size: 2rem;
                opacity: .6;
                @include transition(.2s ease-in all);
            }

            &:hover i {
                opacity: 1;
            }

            &:first-child {
                margin-bottom: 1rem;
            }

            &:last-child {
                margin-top: auto;
            }
        }    
    }
}

.admin-grid-cols {
    width: 88%;
    margin: 0 auto;

    & > div {
        width: 100%;
        display: flex;
    }
}

.admin-grid-col {
    flex: 0 0 87%;
    display: flex;
    background-color: #fff;
    border-radius: 3px;
    border: 2px solid;
    border-color: lighten($default-text-color, 20%);
    color: lighten($default-text-color, 20%);
    justify-content: center;
    align-items: center;
    min-height: 3.5rem;
    flex-direction: row;
    margin: 1.2rem auto;
    cursor: pointer;

    & > div {
        display: flex;
        width: 100%;
        height: 100%;
        text-align: center;
        justify-content: center;
        align-items: center;
        min-height: 3.5rem;
    }

    & i.fa.fa-plus {
        padding: 0 0.5rem;
    }
}

.admin-grid-element-wrapper {
    display: none;
}

.admin-grid-element {
    background-color: #4B5966;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    min-height: 3.5rem;

    &__name {
        color: #fff;
    }

    &__button {
        background-color: transparent;
        border: none;
        padding: 0 0.5rem;

        & i {
            font-size: 2rem;
        }
    }
}

.admin-element-list-item {
    border-radius: 3px;
    background-color: #F0F0F0;
    padding: 0.75rem 0.5rem;
    display: flex;
    align-items: center;
    cursor: move;

    &__type {
        margin: 0 0.75rem 0 0.5rem;
        font-size: 2.2rem;
    }

    &__name {

    }
}