.upload-zone {
    width: 100%;
    min-height: 40rem;
    border-radius: 4px;
    border: 3px dashed #d2d0d0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}