.user-role-menu {
  display: flex;
  flex-direction: column;

  @include media-md-max {
    flex-direction: row;
  }

  &__item {
    margin: 0.5rem 0;
    padding: 0.75rem;
    padding-left: 2rem;
    border-radius: 3px;
    @include transition(.2s ease-in all);
    cursor: pointer;

    @include media-md-max {
      margin: 0.5rem 1rem;
    }

    &.empty {
      span {
        background-color: #eee;
        width: 80%;
        height: 3rem;
        border-radius: 50px;
        margin: 1rem 0;
        display: block;

        &:last-child {
          width: 55%;
        }
      }
    }
    
    &:not(.empty).active,
    &:not(.empty):hover {
      box-shadow: 0 4px 7.5px 1px rgba(22, 27, 53, 0.11);
      color: #fff;
      background-color: $primary-color;
      font-weight: bold;
    }
  }
}

.user-role-checkboxes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  & > span {
    flex: 0 0 50%;
    max-width: 50%;
    flex-grow: 1;
  }
}