.admin-box {
    background-color: #fff;
    padding: 2rem;
    margin-bottom: 4rem;
    overflow: hidden;

    & .action-icon {
        @include transition(.2s ease-in all);
        cursor: pointer;
        padding: 0 0.75rem;

        &:hover {
            color: $primary-color;
        }
    }

    &.no-padding {
      padding: 0;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1.2rem;

        & > div {
            display: flex;
            align-items: center;
        }    

        & .admin-box__title {
            margin-bottom: 0;
        }
    }

    &__title {
        display: inline-block;
        margin-bottom: 1.2rem;
    }
}