// TODO: Form Styles
//      - Form Row
//      - Form Control
//      - From Group
//      - Form Checkboxes
//      - Form Radio Buttons
//      - Form Selects
//      - Form Upload Area

textarea.form-input {
    resize: vertical;
    min-height: 12rem;
    max-height: 30rem;
}

.form-input-icon {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;

    &::before {
        position: absolute;
        color: #888888;
        left: 1.5rem;
        font-size: 18px;
    }

    & input {
        text-indent: 4rem;
    }
}


.form-checkbox {
    margin: 0 1rem;

    & label {
        cursor: pointer;
    }

    &__label {
        position: relative;
        display: inline-flex;
        align-items: center;
        font-weight: bold;

        &:before, &:after {
            display: inline-flex !important;
            justify-content: center;
            align-items: center;
            position: absolute;
            width: 18px;
            height: 18px;
            font-size: 11px;
            margin-left: -25px;
        }

        &:before {
            content: "";
            background-color:transparent;
            border: 1px solid;
            border-radius: 3px;
            border-color: #dbdbdb;
        }
            
        &:after {
            @include icon(check);
            color: $primary-color;;
            opacity: 0;
            left: 0;
            top: 5px;
            visibility: hidden;
            transition: .2s ease-in all;
        }

    }

    &__input {
        opacity: 0;

        &:checked + .form-checkbox__label:before {
            border-color: $primary-color;
            transition: border-top-color
        }

        &:checked + .form-checkbox__label:after {
            opacity: 1;
            visibility: visible;
        }
    }
}

.form-input[type="range"] {
   -webkit-appearance: none;
   background: transparent; 
   background-color: $formInputBackgroundColor;
    border-radius: $formInputRadius;
   height: 5px;
   width: 100%;

   &:focus {
      outline: none;
   }

   &::-ms-track {
      cursor: pointer;
      background: transparent; 
      border-color: transparent;
      color: transparent;
   }

   &::-webkit-slider-thumb,
   &::-moz-range-thumb,
   &::-ms-thumb {
      -webkit-appearance: none;
      background: $primary-color;
      width: 15px;
      height: 15px;
      border-radius: 15px;
      -webkit-border-radius: 15px;
      cursor: pointer;
   }
}

input[type=range]::-webkit-slider-thumb {
   -webkit-appearance: none;
   background: $primary-color;
   width: 15px;
   height: 15px;
   border-radius: 15px;
   -webkit-border-radius: 15px;
   cursor: pointer;
 }

.form-input[type="text"], .form-input[type="number"], .form-input[type="email"], .form-input[type="password"], textarea.form-input, select.form-input, .sp-input {
    font-family: inherit;
    outline: none;
    display: block;
    width: 100%;
    @include transition(.2s ease-in all);
    color: $formInputColor;
    background-color: $formInputBackgroundColor;
    border-radius: $formInputRadius;
    border: none;
    box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.1);
    border: 1px solid;
    border-color: transparent;
    padding: 1.1rem .75rem;
    height: 4.5rem;
    font-size: $default-font-size;

    &:disabled {
        background-color: darken($formInputBackgroundColor, 10%);
        opacity: .8;
        cursor: default;
    }

    &::-webkit-input-placeholder,
    &::-moz-placeholder,
    &:-ms-input-placeholder,
    &:-moz-placeholder {
        color: $formInputColor;
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
        transition: background-color 5000s ease-in-out 0s;
    }

    &:focus {
        outline: none;
        border-color: $formInputBorderFocus;
    }
}

.form-input__error {
   border-color: $error-color;
}

.form-input__error-message {
   font-weight: bold;
   color: $error-color;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 1.5rem;
}

.form-label {
    font-weight: bold;
}

.form-error {
    color: $error-color;
}