.searchable-select {
    display: none !important;
}

.select2 {
    width: 100% !important;
    display: flex;
    cursor: pointer;

    & .selection {
        display: flex;
        width: 100%;
        align-items: center;

        & .select2-selection {
            outline: none !important;
            display: flex;
            width: 100%;

            & .select2-selection__rendered {
                flex: 0 0 90%;
            }
        }

        & .select2-selection__arrow {
            flex: 0 0 10%;
            display: flex;
            justify-content: flex-end;
            cursor: pointer;

            &::before {
                @include icon(chevron-down);
            }
        }
    }
}


body > .select2-container {
    background-color: #fff;
    border-radius: 3px;
    overflow: hidden;
    display: flex;
    @include box-shadow(lg);

    & ul {

        & li {
            display: block;
            list-style-type: none;
            padding: 0.5rem 1rem;
            cursor: pointer;
            @include transition(.2s ease-in-out all);

            &:hover {
                background-color:$primary-color;
                color: #fff;
            }
        }
    }
}

.select2-search__field {
    width: 95%;
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    height: 3.5rem;
}