.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    border-collapse: collapse;

    & th, & td {
      vertical-align: middle;
      text-align: left;
      padding: 1.25rem 0.25rem;
    }

    & tr {
        &.ui-droppable-hover {
            background-color: $primary-color;
            color: #fff;
        }
    }

    & td {
        border-top: 1px solid #d6d6d6;

        &.auto-width {
            width:1%;
            white-space:nowrap;
        }

        &.action {
            text-align: right;

            & a, & button {
                color: inherit;
                opacity: .4;
                border: none;
                background: transparent;

                & i {
                    font-size: 1.8rem;
                    padding: 0 1rem;
                }

                &:hover {
                    color: $primary-color;
                    opacity: 1;
                }
            }

            & form {
                display: inline-block;
            }
        }
    }
}