*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
}

input,
button,
select,
textarea {
    margin: 0;
}


article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
progress,
video {
    display: inline-block;
}

object,
embed,
iframe {
    max-width: 100%;
}

label,
input[type=button],
input[type=submit],
input[type=file],
button {
    cursor: pointer;
}