RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule . index.php [L]
php_value auto_prepend_file "/Users/tobirick/Documents/Programmieren/Webentwicklung/Projekte/cmsmvc/vendor/autoload.php"