.main-content {
    padding-left: 20rem;
    @include transition(.2s ease-in all);

    @include media-sm-max {
        padding-left: 0;
        left: 20rem;
        position: relative;
    }

    & #content {
        background-color: #F0F0F0;
        position: relative;
        top: 3px;
        height: calc(100vh - 12rem);
        padding: 2rem 0;
        overflow-y: scroll;

        &::-webkit-scrollbar-track
        {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
            background-color: #F5F5F5;
            border-radius: 10px;
        }
        
        &::-webkit-scrollbar
        {
            width: 10px;
            background-color: #F5F5F5;
        }
        
        &::-webkit-scrollbar-thumb
        {
            border-radius: 10px;
            background-color: #d6d6d6;
        }

        & .container {
            max-width: 95%;
        }
    }

    &__header {
        display: flex;
        height: 6rem;
        padding: 0 2rem;
        line-height: 6rem;
        @include box-shadow('sm');
        background-color: #fff;

        & h2 {
            padding-left: 2.5rem;

            @include media-md-max {
                display: none;
            }
        }
    }

    &__header-info {
        margin-left: auto;

        & a {
            color: #fff;
            background-color: $secondary-color;
            border-radius: 3px;
            padding: 0.5rem 1rem;
            text-decoration: none !important;
            @include box-shadow();
            @include transition(.2s ease-in all);

            &:hover {
                @include box-shadow('lg');

                &:before {
                    opacity: .95;
                }
            }

            &:first-child {
                margin-right: 1rem;
            }

            &:before {
                //opacity: .7;
                @include transition(.2s ease-in all);
                color: #fff;
                padding-right: 0.5rem;
            }

            &:first-child:before {
                @include icon(sign-out);
            }

            &:last-child:before {
                @include icon(user);
            }
        }
    }

    &__header-actions {
        margin-left: 5rem;
    }

    
    &__toggle-sidebar {
        width: 30px;
        height: 30px;
        position: relative;
        @include transform(rotate(0deg));
        @include transition(.5s ease-in-out);
        cursor: pointer;
        top: 2rem;

        & span {
            display: block;
            position: absolute;
            height: 3px;
            width: 100%;
            background:$primary-color;
            border-radius: 3px;
            opacity: 1;
            left: 0;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            @include transition(.25s ease-in-out);

            &:nth-child(1) {
                top: 0px;
                -webkit-transform-origin: left center;
                -moz-transform-origin: left center;
                -o-transform-origin: left center;
                transform-origin: left center;
            }

            &:nth-child(2) {
                top: 9px;
                -webkit-transform-origin: left center;
                -moz-transform-origin: left center;
                -o-transform-origin: left center;
                transform-origin: left center;
            }

            &:nth-child(3) {
                top: 18px;
                -webkit-transform-origin: left center;
                -moz-transform-origin: left center;
                -o-transform-origin: left center;
                transform-origin: left center;
            }
        }

        &.open {
            & span:nth-child(1) {
                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                transform: rotate(45deg);
                top: -3px;
                left: 8px;
            }

            & span:nth-child(2) {
                width: 0%;
                opacity: 0;
            }

            & span:nth-child(3) {
                -webkit-transform: rotate(-45deg);
                -moz-transform: rotate(-45deg);
                -o-transform: rotate(-45deg);
                transform: rotate(-45deg);
                top: 18px;
                left: 8px;
            }
        }
    }

    &__secondary-header {
        display: flex;
        height: 6rem;
        padding: 0 2rem;
        line-height: 6rem;
        background-color: #fff;
        @include box-shadow('sm');

        & .right {
            margin-left: auto;
            display: flex;
            align-items: center;
        }
    }
}



.sidebar-closed .main-content {
    padding-left: 7rem;

    @include media-sm-max {
        padding-left: 0;
        left: 0;
    }
}