.main-sidebar {
    position: fixed;
    display: flex;
    flex-direction: column;
    left: 0;
    top: 0;
    height: 100%;
    width: 20rem;
    background-color: #fff;
    border-right: 1px solid #eee;
    @include transition(.2s ease-in all);

    &__language-changer {
        margin: 1rem 2rem 1rem 2rem;
        margin-top: auto;
    }

    &__title {
        text-decoration: none !important;
        text-align: center;

        h1 {
            color: $default-text-color;
            & span {
                font-size: 75%;
                opacity: .85;
                @include transition(.2s ease-in all);
            }
        }
    }

    &__nav {
        margin-top: 5rem;
    }

    &__nav-item {
        display: block;
        margin: 1rem 2rem 1rem 2rem;
        border-radius: 3px;
        white-space: nowrap;
        @include transition(.2s ease-in background-color);

        &:hover, &.active {
            background-color: #f1f1f1;
            @include box-shadow();

            & > .main-sidebar__nav-item-link {
                color: $default-text-color;
                font-weight: bold;

                & i {
                    color: $secondary-color;
                }
            }
        }
    }

    &__nav-item-link {
        color: $default-text-color;
        text-decoration: none !important;
        display: block;
        padding: 0.8rem 1.5rem;
        @include transition(.2s ease-in opacity);

        & span {
            @include transition(.2s ease-in opacity);
        }

        & i {
            color:$secondary-color;
            font-size: 2rem;
            padding-right: 1rem;
            width: 3rem;
            @include transition(.2s ease-in opacity);
        }
    }
}

.sidebar-closed .main-sidebar {
    width: 7rem;

    &__nav-item {
        margin: 1rem 1rem 1rem 1rem;
    }

    &__nav-item-link {
        text-align: center;

        & i {
            padding-right: 0;
            width: auto;
        }
    }

    &__nav-item-link span, &__title h1 span {
        opacity: 0;
        visibility: hidden;
        display: none;
    }
}