// Grid
@mixin col($size, $columns) {
    flex-grow: 1;
    flex: 0 0 percentage($size / $columns);
    max-width: 100%;
    padding: 0 0.75rem;
}

@mixin clearfix() {
    &::after {
      display: block;
      clear: both;
      content: "";
    }
}

@mixin absCenter() {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin transition($str) {
    -webkit-transition: $str;
    -moz-transition: $str;
    -ms-transition: $str;
    -o-transition: $str;
    transition: $str;      
}

@mixin animation($str) {
    -webkit-animation: $str;
    -moz-animation: $str;
    -ms-animation: $str;
    -o-animation: $str;
    animation: $str;      
}

@mixin transform($str) {
    -webkit-transform: $str;
    -moz-transform: $str;
    -ms-transform: $str;
    -o-transform: $str;
    transform: $str;      
}

@mixin padding($top, $right, $bottom, $left) {
    padding-top: $top;
    padding-right: $right;
    padding-bottom: $bottom;
    padding-left: $left;
}

@mixin margin($top, $right, $bottom, $left) {
    margin-top: $top;
    margin-right: $right;
    margin-bottom: $bottom;
    margin-left: $left;
}

@mixin box-shadow($size: 'md') {
    @if ($size == 'sm') {
        box-shadow: 0 1px 5px 1px rgba($shadow-color, .15);
    } @else if ($size == 'lg') {
        box-shadow: 0 4px 15px 4px rgba($shadow-color, .17);
    } @else {
        box-shadow: 0 4px 7.5px 1px rgba($shadow-color, .11);
    }
}

// MEDIA QUERIES
// Min Widths
@mixin media-sm-min {
    @media (min-width: $media-sm) {
        @content;
    }
}

@mixin media-md-min {
    @media (min-width: $media-md) {
        @content;
    }
}

@mixin media-lg-min {
    @media (min-width: $media-lg) {
        @content;
    }
}

@mixin media-xl-min {
    @media (min-width: $media-xl) {
        @content;
    }
}

// Max Widths
@mixin media-sm-max {
    @media (max-width: $media-sm) {
        @content;
    }
}

@mixin media-md-max {
    @media (max-width: $media-md) {
        @content;
    }
}

@mixin media-lg-max {
    @media (max-width: $media-lg) {
        @content;
    }
}

@mixin media-xl-max {
    @media (max-width: $media-xl) {
        @content;
    }
}

// Buttons
@mixin button($color, $name) {
    .button-#{$name} {
        text-decoration: none;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        font-size: $button-normal-font-size;
        border: none;
        background: none;
        outline: none;
        cursor: pointer;
        border-radius: 3px;
        padding: 0.7rem 1.5rem;
        height: 100%;
        background-color: $color;
        color: #fff;
        @include transition(.2s ease-in all);

        @include button-small('.button-#{$name}');
        @include button-large('.button-#{$name}');
    
        &:hover,
        &:active {
            text-decoration: none;
            color: #fff;
            background-color: darken($color, 7%);
        }
    
        &.block {
            display: block;
            width: 100%;
        }
    }

    .button-#{$name}-icon {
        @extend .button-#{$name};
        height: 4.2rem;
        width: 4.2rem;
        padding: 0;
    }

    .button-#{$name}-border {
        @extend .button-#{$name};
        background-color: transparent;
        color: $color;
        border: 1px solid $color;

        @include button-small('.button-#{$name}-border');
        @include button-large('.button-#{$name}-border');
    }

    .button-#{$name}-rounded {
        @extend .button-#{$name};
        background-color: transparent;
        color: $color;
        border: 1px solid $color;
        border-radius: 100%;
        width: 4.2rem;
        height: 4.2rem;
        display: inline-flex;
        font-size: 3rem;

        @include button-small('.button-#{$name}-border');
        @include button-large('.button-#{$name}-border');
    }

    .button-#{$name}-rounded--color {
        @extend .button-#{$name};
        border-radius: 100%;
        width: 4.5rem;
        height: 4.5rem;
        display: inline-flex;
        font-size: 3rem;

        @include button-small('.button-#{$name}-border');
        @include button-large('.button-#{$name}-border');
    }
}

@mixin button-small($name) {
    &--small {
        @extend #{$name};
        font-size: $button-small-font-size;
        padding: 0.5rem 1.3rem;
    }
}

@mixin button-large($name) {
    &--large {
        @extend #{$name};
        font-size: $button-large-font-size;
        padding: 0.9rem 1.7rem;
    }
}

// Font Awesome Icons
@mixin icon($icon) {
    font-family: FontAwesome;
    display: inline-block;
    @extend .fa-#{$icon}:before;
}

// Gradient
@mixin linear-gradient($direction, $colors...) {
    background: linear-gradient($direction, $colors);
}