// FONTS
$default-font-family: "Lato", sans-serif;
$default-font-size: 1.6rem;
$default-line-height: 1.7;

$h1-font-size: 3.5rem;
$h2-font-size: 3rem;
$h3-font-size: 2.5rem;
$h4-font-size: 2rem;
$h-font-weight: 600;

// TEXT COLORS
$default-text-color: #4a4a4a;
$default-font-weight: 400;
$h-text-color: darken($default-text-color, 2%);

// MAIN COLORS
$primary-color: #45AA0F;
$secondary-color:#DB0A5B;

$success-color: #69DD95;
$error-color: #F26175;
$warning-color: #F8C93F;
$dark: #161b21;

$shadow-color: adjust-color($dark, $blue: 20);

// FORMS
$formInputColor: $default-text-color;
$formInputBackgroundColor: #eee;
$formInputRadius: 4px;
$formInputBorder: lighten($default-text-color, 40%);
$formInputBorderFocus: $formInputBorder;

// BUTTONS
$button-normal-font-size: $default-font-size;
$button-small-font-size: 1.4rem;
$button-large-font-size: 2rem;

// MEDIA QUERIES BREAKPOINTS
$media-sm: 576px;
$media-md: 768px;
$media-lg: 992px;
$media-xl: 1200px;

// CONTAINER MAX-WIDTHS
$container-maxwidth-sm: 540px;
$container-maxwidth-md: 720px;
$container-maxwidth-lg: 960px;
$container-maxwidth-xl: 1140px;

.icon:before {
    @include icon(pencil);
}